body{
    background: #E5E5E5;
}

header{
    background: #0A3871;
    padding: 20px 20px;
}

main{
    background: #F3F5FC;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10%;
    padding: 10px 0;
    border-radius: 32px
}

main h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 20px;
}

main section{
    display: inline-block;
}

.seccion-encriptador{
    margin-left: 4%;
    width: 59%;
    height: 390px;
    margin-right: 2%;
}

.seccion-encriptador textarea {
    display: block;
    width: 100%;
    background: #F3F5FC;
    resize: none;
    color: #0A3871;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    border: none;
    height: 300px;
}

.seccion-encriptador p{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 13px;
}

.boton {
    text-align: center;
    width: 16em;
    height: 3em;
    border-radius: 10px;
    margin: 0 10px 0 0;
    cursor: pointer;
    vertical-align: top;
}

.advertencia-minusculas{
    color: #495057;
}

#btn-encriptar{
    background: #0A3871;
    color: white;
}

#btn-desencriptar{
    background: #D8DFE8;
    color: #0A3871;
}

.seccion-desencriptador{
    height: 390px;
    width: 30%;
    margin-right: 4%;
    vertical-align: top;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#caja-desencriptador-sin-mensaje{
    display: grid;
    padding: 10%;
    place-items: center;
}

#caja-desencriptador-sin-mensaje img{
    margin-top: 25%;
}

#caja-desencriptador-sin-mensaje p{
    font-weight: bolder;
    text-align: center;
    color: #343A40;
    font-size: 17px;
}

#caja-desencriptador-sin-mensaje p + p{
    color: #495057;
    font-size: 12px;
    margin-top: 20px;
    font-weight: normal;
}